*{
    margin: 0;
    padding: 0;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

.header{
    /* ajustes para o container do header e footer */
    display: flex;
    flex-wrap: nowrap;

    /*gradiante do header e footer */ 
    background: rgb(138,32,111);
    background: linear-gradient(90deg, rgba(138,32,111,1) 0%, rgba(192,14,78,1) 0%, rgba(138,32,111,1) 100%);
    color: #fff;

    width: 100%;
    height: 2.5rem;

    font-size: 14px;
    line-height: 2.5rem;

}
.logo{

    width: 5%;
    padding-right: 1rem;
    padding-left: 1rem;

    text-align: right;



}
.logo img{
    margin-top:2px;
    width:35px;
    height:35px;
}
.titulo{
    width: 85%;

    text-align: left;
    font-weight: 600;
}
.login{
    display: flex;

    width: 10%;

    padding-right: 2rem;

    cursor:pointer
}
.login p{

    font-size:0.8em;

}
.login button{

    margin: 5px;
    padding: 3px;
    height: 30px;
    width: 30px;

    font-size: 14px;

    background-color: #fff;
    color: #000;

    border-radius: 20px;
    border: none;
    cursor:pointer

}
footer{
    position: fixed;
    bottom: 0;
}

/* section-myteams ====================================================*/


main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color:  #F7F3F7;
    padding-bottom: 50px;
}

section{
    position: relative;
    flex: 1 100%;
    margin:10px;
    border-top-right-radius: 15px;
    border-top-left-radius:15px;

    max-width:600px;
    min-width:400px;
}
#card-myteams{
    background: #ffffff;
    height:470px;
}
#myteams{
    display:flex;
    flex:1;
    color:#8a206f;
    width:100%;
    height:60px;
    line-height: 60px;
    justify-content: space-between;
    border-bottom: 2px solid #F7F3F7;
}
#myteams strong{
    font-size: 20px;
    margin:50px;
}
#myteams button{
    outline:none;
    font-size:30px;
    color:#ffffff;
    background: rgb(138,32,111);
    background: linear-gradient(180deg, rgba(138,32,111,1) 0%, rgba(179,24,79,1) 0%, rgba(94,12,73,1) 100%);
    box-shadow: 0 0  5px #8a206f;
    margin: 10px;
    padding: 3px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    border-radius: 15px;
    border: none;

    margin-right:25px;

}
#myteams button:hover{
    align-items: right;
    background: rgb(138,32,111);
    background: linear-gradient(180deg, rgba(138,32,111,1) 0%, rgba(192,14,78,1) 0%, rgba(138,32,111,1) 100%);    transition: 0.2s;
    cursor:pointer;

}
.table{
    font-size:1em;
    width:100%;
    justify-content:flex-start;
    text-align:left;
    border-spacing: 0 0rem;
    margin:5px;
}
.table th{
    padding:0 0 0 20px;
    height:40px;
}
#table-name{
    width:10em;
}

tr, td{
    line-height: 100;
    padding:10px 0 10px 20px;
    border: 1px solid #F7F3F7;
    border-left:none;
    border-right:none;
    line-height: 1em;
    opacity:1;
    cursor:pointer;
}
tbody tr:hover, td:hover{
    color: #B74E88;
    background: #F7EEF7;
    opacity:5;
}


/* section-top5 ====================================================*/
#section-right{

width:600px;
}
#card-top5{
    background: #ffffff;
    height:290px;

}
#top-5{
    display:flex;
    flex:1;
    color: #8a206f;
    width:100%;
    height: 60px;
    line-height:60px;
    justify-content: flex-start;
    border-bottom: 2px solid #F7F3F7;

}
#top-5 strong{

    font-size: 20px;
    margin:30px;
}
#highest-lowest{
    display: flex;
    flex:1;
    text-align: left;
}
#card-high p{
    margin:10px;
}
#card-low p{
    margin:10px;
}
#card-high{
    width:50%;
}
#card-low{
    width:50%;
}
.list-highlow{
    display:block;
    border:1px solid #F7F3F7;
    border-radius:8px;
    font-size:12px;
    margin:7px;
}
.list{
    display:flex;
    justify-content:space-between;
    width:100%;
    border:1px solid #F7F3F7;
    border-radius:8px;
    cursor:pointer;
}
.list:hover{
    border:1px solid #8a206f;
    border-bottom:none;
    transition: 0.5s;
}
/* section-player ====================================================*/
#card-player{

    height:170px;
    background: rgb(192,14,78);
    background: linear-gradient(180deg, rgba(192,14,78,1) 0%, rgba(138,32,111,1) 50%);
    display: flex;
    flex:1;
    cursor:pointer
}
#player{
    width:50%;
    text-align:center;
    line-height:40px;
    font-size: 14px;
    color:#ffffff;

}
#player:hover{
    background: rgb(192,14,78);
    background: linear-gradient(0deg, rgba(192,14,78,1) 0%, rgba(138,32,111,1) 50%);

}
#button-player-most{
    margin-top:5px;
    margin-right:25px;
    padding:50px;
    border:none;
    border-radius:50px;
}
#button-player-less{
    margin-top:5px;
    margin-right:25px;
    padding:50px;
    border:none;
    border-radius:50px;
}
.most{
    border-right:thin solid #F7F3F7;
}
.most:hover{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.less:hover{
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
}
@media (max-width:800px){

    #card-player{
        margin-bottom:50px;
    }

}
@media(min-width:400px){
    .login button{
        padding:7px;
        height: 30px;
        width: 30px;
    }
}